@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4c6fff;
  --secondary-color: #1a202c;
  --footerColor: #273353;
  --tertiary-color: #ffffff;
  --tertiary-second-color: #fdfdfd;
  --buttons-color: #2a4250;
  --background-color: #f9f9f9;
  --howtouse-color: #f7f8fd;
}
